.card-container {
 display: grid;
 column-count: 2;
/*padding: 1rem 0rem;*/
 overflow: hidden;
}

.card {
 display: flex;
 flex-direction:column;
 gap:2em;
 background-color: var(--primary-color);
 padding: 2em;
 margin: 0px;
 gap:.2em;
 border: solid var(--border-color);
 border-width: 0 2px 0 2px;
 margin: 0 -2px 0 -2px;
}

.long{
  grid-column: span 2;
}

@media only screen and (max-width: 776px) {
 #demo {
   margin-top: 0px;
 }
 .card-container {
   flex-wrap: wrap;
 }
 .card-container .card {
   flex: 1 1 100%;
 }

 .long{
  grid-column: span 1;
 }

}
