:root {
  --min-width: 840px;
  --max-width: 960px;
  --width: auto;

  --padding-40: 2.5em;
  --padding-12: .75em;

  --grid-projects: 2;
  --grid-logos: 3;
  --logo-size: 125px;

  --project-img-main: 550px;
  --project-img: 300px;
}

*{
  font-weight: 100;
  font-family: "DM Sans", serif;
}

body {
  font-family: "DM Sans", serif;
  font-size: 16px;
  margin: 0 auto;
  background-color: var(--primary-color);
  color: var(--grey-100);
}

.long{
  grid-column: span 2;
 }

.small-div{
  height: 2px;
  background: var(--border-color);
  width: auto;
  min-width: var(--min-width);
  max-width: var(--max-width);
}

.big-div{
  height: 4px;
  background: var(--border-color);
  width: auto;
  min-width: var(--min-width);
  max-width: var(--max-width);
}

.img-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: auto;
  max-width: var(--max-width);

  margin: -2px 0 0 0;
  z-index: 2;
  border: 2px solid var(--border-color);
/*  border-width: 0 2px 0 2px;*/
gap: .2em;
}

.img-container p{
  font-size: 1.2em;
  font-family: "JetBrains Mono", sans-serif;
  color: var(--grey-300);
  margin: .50em 0 .75em 0;
  height: auto;
}

.img-blog {
  width: -webkit-fill-available;
  min-width: var(--min-width);
  max-width: var(--max-width);
  text-align: center;
  height: auto;
}

  /*.root-container .nav-bar{
    border:solid var(--grey-300);
    border-width: 2px 0 4px 0;
    margin-top: 64px;
  }*/

  .card {
    display: flex;
    flex-direction:row; 
    gap: 1em;
   }

   .card-text {
    display: flex;
    flex-direction:column;
    background-color: var(--primary-color);
    padding: 2em;
    margin: 0px;
    gap:1em;
    border: solid var(--border-color);
    border-width: 0 2px 0 2px;
    margin: 0 -2px 0 -2px;
   }

  .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: auto;
    min-width: var(--min-width);
    max-width: var(--max-width);

    margin-top: 5em;

    padding: var(--padding-12) var(--padding-40);

    border:solid var(--border-color);
    border-width: 2px;
    background-color: var(--primary-color);

    z-index: 4;
    position: sticky;
    top: 0px;
  }

  .nav-bar.bottom {
    margin-top: -2px;
    padding: var(--padding-12) var(--padding-40);
    align-items: center;
  }

  .nav-options {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
  }

  .go-to-top{
    font-size: 1.4em;
    font-weight: 400;
    text-decoration: none;
    padding: .2em 0;
    border: solid var(--grey-100);
    border-width: 0 0 2px 0;
  }

  .go-to-top:hover{
    background-color: var(--accent-color);
    border: dashed var(--grey-100);
    border-width: 0 0 2px 0;
  }

  .root-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: -webkit-fill-available;
    min-width: var(--min-width);
    max-width: var(--max-width);
    position: relative;
  }

  .root-container.blog {
  }

  .container-home {
    border: 2px solid var(--border-color);  
    background: var(--primary-color);
    margin: -2px 0 -2px 0;
    display: flex;
    flex-direction: column;
    width: auto;
    min-width: var(--min-width);
    max-width: var(--max-width);
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }

  .container-title {
    padding: var(--padding-40);
    border-bottom: 2px solid var(--border-color);
  }

  .project {
    padding: var(--padding-40) var(--padding-40);
    background: var(--primary-color);
    gap: 1em;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: baseline;
  }

  .project.horizontal {
    flex-direction: row;
    align-items: center;

    gap: 1.5;
    justify-content: space-between;
/*    border-bottom: 2px solid var(--border-color);*/

text-decoration: none;
}

.project.testimonial {
  flex-direction: column;
  align-items: baseline;
}

.project-img {
  border-radius: 16px;
  width: 100%;
  height: var(--project-img);
  object-fit: cover;
  margin-bottom: 8px;
}

.project-img.main {
  width: 100%;
  max-width: 100%;
  height:var(--project-img-main);
}

.arrow {
  display: block;
}

.project a,
.grid a,
.nav-bar a {
  text-decoration: none;
}

.project:hover {
  background: var(--accent-color);
}


.grid {
  display: grid;
  column-count: var(--grid-projects);
  grid-template-columns: 1fr 1fr;
  gap: 2px;
/*    border-width: solid var(--border-width);*/
/*    padding: 0 2px;*/
/*    border-width: 0 2px;*/
justify-content: center;
background: var(--border-color);
/*  grid-auto-rows: 1fr;*/
}

.grid-logos {
  display: grid;
  column-count: var(--grid-logos);
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 2px;
  column-gap: 2px;
  border-width: 0px;
  justify-content: center;
  background-color: var(--border-color);
  border-top: 2px solid var(--border-color);
}

.item-logo {
  display: flex;
  padding: 1em;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  text-align: center;
}

.clients-img {
  width: var(--logo-size);
  height: auto;
}

button {
  padding: 20px;
  background: transparent;
  border: transparent;
  color: var(--grey-100);
  font-size: 1.5em;
  padding: 1em 0;
}

@media only screen and (max-width: 1200px) {
  :root {
    --min-width: 840px;
    --max-width: 960px;
    --width: auto;

      /*--padding-40: 2.5em;
      --padding-12: .75em;*/

      --project-img-main: 400px;
      --project-img: 300px;
    }

    body {
      font-size: 16px;
    }

    .nav-bar.bottom{
      margin-top: -2px;
    }
  }

  @media only screen and (max-width: 920px) {
    :root {
      --min-width: auto;
      --max-width: 800px;
      --width: auto;

      /*--padding-40: 24px;
      --padding-12: 12px;*/

      --project-img: 300px;
      --project-img-main: 300px;
    }

    body {
      font-size: 14px;
    }

    .nav-bar.bottom{
      margin-top: -2px;
    }
  }

  @media only screen and (max-width: 776px) {
    :root {
      --min-width: auto;
      --max-width: 640px;
      --width: auto;

      /*--padding-40: 32px;
      --padding-12: 16px;*/

      --logo-size: 80px;

      --grid-projects: 1;
      --grid-logos: 3;

      --project-img: 250px;
      --project-img-main: 300px;
    }

    .long{
      grid-column: span 1;
     }

    .grid {
      grid-template-columns: 1fr;
    }

    .grid-logos {
      grid-template-columns: 1fr 1fr 1fr;
    }

    .img-container {
      align-items: center;
      /* padding: 12px 0; */
    }

    .img-blog {
      width: 100%;
      max-width: var(--max-width);
      text-align: center;
    }

    body {
      font-size: 14px;
    }

    .nav-bar.bottom{
      margin-top: -2px;
    }

    .arrow {
      display: none;
    }
  }

/* This will work for mobile - done */
@media only screen and (max-width: 478px) {
  :root {
    --min-width: auto;
    --max-width: auto;
    --width: 100vw;

    --padding-40: 2em;
    --padding-12: 1em;

    --logo-size: 80px;

    --grid-projects: 1;
    --grid-logos: 3;

    --project-img: 220px;
    --project-img-main: 220px;
  }

  body {
    font-size: 12px;
  }

  .grid {
    grid-template-columns: 1fr;
    border-width: 0;
  }

  .grid-logos {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .arrow {
    display: none;
  }

  .project {
    flex-direction: column;
    align-items: baseline;
  }

  .project.horizontal{
    flex-direction: column;
    align-items: baseline;
  } 

  .project-img {
    min-width: 60%;
    max-width: 100%;
    width: 100%;
  }

  .project-img.main {
    min-width: 60%;
    max-width: 100%;
    width: 100%;
  }

  .img-container {
    align-items: center;
    border: solid var(--border-color);
    border-width: 2px 0 2px 0;
    /* padding: 12px 0; */
  }

  .img-blog {
    width: 100%;
    text-align: center;
    height: auto;
    object-fit: cover;
  }

  .nav-bar{
    border-width: 0 0 2px 0;
    margin: 0px;
  }

  .nav-bar.bottom{
    border-width: 2px 0 0 0;
    margin-top: -2px;
  }

  .container-home{
    border-width: 2px 0 2px 0;
    margin-top: -2px;
  }
  .container-title{
    border-width: 2px 0 2px 0;
  }
}
