:root {
  --min-width: 840px;
  --max-width: 960px;
  --width: auto;

  --padding-40: 2.5em;
  --padding-12: .75em;
  --padding-24: 1.25em;

  --grid-projects: 2;
  --grid-logos: 3;
  --logo-size: 125px;

  --project-img-main: 600px;
  --project-img: 300px;
}

* {
  font-weight: 100;
  font-family: "DM Sans", serif;
}

body {
  font-family: "DM Sans", serif;
  font-size: 16px;
  margin: 0 auto;
  background-color: var(--primary-color);
  color: var(--grey-100);
}

input {
  color: var(--grey-300);
  font-size: 1.25em;
  background-color: var(--primary-color);
  padding: var(--padding-24);
  --highlight-color: var(--border-color);
  border: 1px solid var(--border-color);
}

input:focus {
  color: var(--grey-100);
  background-color: var(--accent-color);
}

input::after {
  color: var(--grey-100);
  background-color: var(--accent-color);
}

input::placeholder {
  color: var(--grey-250);
}

textarea {
  color: var(--grey-300);
  font-size: 1.25em;
  background-color: var(--primary-color);
  padding: var(--padding-24);
  --highlight-color: var(--border-color);
  border: 1px solid var(--border-color);
  grid-column: span 2;
}

textarea:focus {
  color: var(--grey-100);
  background-color: var(--accent-color);
}

textarea::placeholder {
  color: var(--grey-250);
}

.hover-project{
  background-color: var(--primary-color);
  }

.hover-project:hover{
background-color: var(--accent-color);
}

button {
  padding: var(--padding-24);
  font-weight: 500;
  font-size: 1.25em;
  background-color: white;
  color: var(--primary-color);
  border: 1px solid var(--border-color);
  grid-column: span 2;
}

button:hover {
  background-color: var(--border-color);
}

.long {
  grid-column: span 2;
  text-decoration: none;
}

.img-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: auto;
  max-width: var(--max-width);

  margin: -1px 0 0 0;
  z-index: 2;
  border: 1px solid var(--border-color);
  /*  border-width: 0 2px 0 2px;*/
  gap: .2em;
}

.img-container p {
  font-size: 1.2em;
  font-family: "JetBrains Mono", sans-serif;
  color: var(--grey-300);
  margin: .50em 0 .75em 0;
  height: auto;
}

.img-blog {
  width: -webkit-fill-available;
  min-width: var(--min-width);
  max-width: var(--max-width);
  text-align: center;
  height: auto;
}

.card {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.card-text {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  padding: 2.5em;
  gap: 1em;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;
  justify-items: center;

  width: auto;
  min-width: var(--min-width);
  max-width: var(--max-width);

  margin-top: 5em;

  padding: var(--padding-12) var(--padding-40);

  border: solid var(--border-color);
  border-width: 1px;
  background-color: var(--primary-color);

  z-index: 4;
  position: sticky;
  top: 0px;
}

.container-blog {
  border: solid var(--border-color);
  border-width: 1px;
  margin-bottom: -1px;
  padding: var(--padding-40);
  background: var(--primary-color);

}

.nav-bar.bottom {
  margin-top: -1px;
  padding: var(--padding-12) var(--padding-40);
  align-items: center;
}

.nav-options {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
}

.go-to-top {
  font-size: 1.4em;
  font-weight: 400;
  text-decoration: none;
  padding: .2em 0;
  border: solid var(--grey-100);
  border-width: 0 0 1px 0;
}

.go-to-top:hover {
  background-color: var(--accent-color);
  border: dashed var(--grey-100);
  border-width: 0 0 1px 0;
}

.root-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: -webkit-fill-available;
  min-width: var(--min-width);
  max-width: var(--max-width);
  position: relative;
}

.container-home {
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  width: auto;
  min-width: var(--min-width);
  max-width: var(--max-width);
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.container-title {
  padding: var(--padding-40);
  border-bottom: 1px solid var(--border-color);
}

.project {
  padding: var(--padding-40);
  background: var(--primary-color);
  gap: 1em;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-items: baseline;
}

.project.horizontal {
  flex-direction: row;
  align-items: center;
  gap: 1.5em;
  justify-content: space-between;
  /*    border-bottom: 2px solid var(--border-color);*/
  text-decoration: none;
}

.grid-rel {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-count: var(--grid-projects);
  border: 1px solid var(--border-color);
  gap: 1px;
  background-color: var(--border-color);
}

.project-rel {
  display: flex;
  flex-direction: column;
  gap: .2em;
  padding: var(--padding-40) var(--padding-24);
  background-color: var(--primary-color);
}

.project-rel:hover {
  background-color: var(--accent-color);
}

.project.testimonial {
  flex-direction: column;
  align-items: baseline;
}

.project-img {
  width: 100%;
  height: var(--project-img);
  object-fit: cover;
}

.project-img.main {
  width: 100%;
  max-width: 100%;
  height: var(--project-img-main);
}

.arrow {
  display: block;
}

.project a,
.grid a,
.nav-bar a {
  text-decoration: none;
}


.grid {
  display: grid;
  column-count: var(--grid-projects);
  grid-template-columns: 1fr 1fr;
  gap: 1px;
  justify-content: center;
  background: var(--border-color);
  padding: 1px;
  margin-bottom: 8em;
  position: relative; 
}

.grid-logos {
  display: grid;
  column-count: var(--grid-logos);
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 1px;
  column-gap: 1px;
  border-width: 0px;
  justify-content: center;
  background-color: var(--border-color);
  border-top: 1px solid var(--border-color);
}

.item-logo {
  display: flex;
  padding: 1em;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  text-align: center;
}

.clients-img {
  width: var(--logo-size);
  height: auto;
}

@media only screen and (max-width: 1200px) {
  :root {
    --min-width: 840px;
    --max-width: 960px;
    --width: auto;

    /*--padding-40: 2.5em;
      --padding-12: .75em;*/

    --project-img-main: 500px;
    --project-img: 300px;
  }

  body {
    font-size: 16px;
  }

  .nav-bar.bottom {
    margin-top: -1px;
  }
}

@media only screen and (max-width: 920px) {
  :root {
    --min-width: auto;
    --max-width: 800px;
    --width: auto;

    /*--padding-40: 24px;
      --padding-12: 12px;*/

    --project-img: 300px;
    --project-img-main: 300px;
  }

  body {
    font-size: 14px;
  }

  .nav-bar.bottom {
    margin-top: -1px;
  }
}

@media only screen and (max-width: 776px) {
  :root {
    --min-width: auto;
    --max-width: 640px;
    --width: auto;

    /*--padding-40: 32px;
      --padding-12: 16px;*/

    --logo-size: 80px;

    --grid-projects: 1;
    --grid-logos: 3;

    --project-img: 250px;
    --project-img-main: 300px;
  }

  .long {
    grid-column: span 1;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .grid-logos {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .img-container {
    align-items: center;
    /* padding: 12px 0; */
  }

  .grid-rel {
    grid-template-columns: repeat(1, 1fr);
    ;
    column-count: var(--grid-projects);
  }

  .img-blog {
    width: 100%;
    max-width: var(--max-width);
    text-align: center;
  }

  body {
    font-size: 14px;
  }

  .nav-bar.bottom {
    margin-top: -1px;
  }

  .arrow {
    display: none;
  }
}

/* This will work for mobile - done */
@media only screen and (max-width: 478px) {
  :root {
    --min-width: auto;
    --max-width: auto;
    --width: 100vw;

    --padding-40: 2em;
    --padding-12: 1em;

    --logo-size: 80px;

    --grid-projects: 1;
    --grid-logos: 3;

    --project-img: 220px;
    --project-img-main: 250px;
  }

  body {
    font-size: 12px;
  }

  .grid-rel {
    grid-template-columns: repeat(1, 1fr);
    ;
    column-count: var(--grid-projects);
    border-width: 1px 0;
  }

  .grid {
    grid-template-columns: 1fr;
    border-width: 0;
  }

  .grid-logos {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .arrow {
    display: none;
  }

  .project {
    flex-direction: column;
    align-items: baseline;
  }

  .project.horizontal {
    flex-direction: column;
    align-items: baseline;
  }

  .project-img {
    min-width: 60%;
    max-width: 100%;
    width: 100%;
  }

  .project-img.main {
    min-width: 60%;
    max-width: 100%;
    width: 100%;
  }

  .img-container {
    align-items: center;
    border: solid var(--border-color);
    border-width: 1px 0 1px 0;
    /* padding: 12px 0; */
  }

  .img-blog {
    width: 100%;
    text-align: center;
    height: auto;
    object-fit: cover;
  }

  .nav-bar {
    border-width: 0 0 1px 0;
    margin: 0px;
  }

  .nav-bar.bottom {
    border-width: 1px 0 0 0;
    margin-top: -1px;
  }

  .container-home {
    border-width: 1px 0 1px 0;
    margin-top: -1px;
  }

  .container-title {
    border-width: 1px 0 1px 0;
  }
}