.img-exp {
  max-width: 100%;
  display: block;
}

.img-static{
  position: absolute;
  width: 50%; /* Set the width to 100% */
  height: auto; /* Set the height to 100% */
  object-fit: contain; /* or contain, depending on your requirements */
}

.img-static:hover{
  opacity: 0;
}

figure {
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  margin-bottom: 10px;
  break-inside: avoid;
}

.container > a{
  display: flex;
}

.container {
  column-count: 2;
  column-gap: 0;
}

@media only screen and (max-width: 478px) {
.container{
  column-count: 1;
}
}
