img {
  max-width: 100%;
  display: block;
}

.container {
  column-count: 2;
  column-gap: 0;
  background-color: var(--primary-color);
  border-width: 0 2px 0 2px;
  border:solid var(--border-color);
}

@media only screen and (max-width: 478px) {
.container{
  column-count: 1;
/*  margin-top: -2px;*/
  border-width: 0 2px 0 2px;
}
}
