.img-exp {
  max-width: 100%;
  display: block;
}

figure {
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  margin-bottom: 10px;
  break-inside: avoid;
}

.container > a{
  display: flex;
}

.container {
  column-count: 2;
  column-gap: 0;
}

@media only screen and (max-width: 478px) {
.container{
  column-count: 1;
}
}
