:root {
  --padding-blog-horizontal: 3em;
  --padding-blog-vertical: 4em;

  --padding-home-horizontal: 2.5em;
  --padding-home-vertical: 4em;
  --padding-nav: .5em;

  --max-length: 75%;
  --icon-size: "large";
}

body{
  --primary-color: #1b2026;
  --accent-color: #222b37;
  --grey-100: #fff;
  --grey-200: #f2f2f2;
  --grey-250: #e3e3e3;
  --grey-300: #c5c5c5;
  --grey-400: #808080;
  --grey-500: #3e3e3e;
  --grey-600: #0d0d0d;
  --border-color: #2f3640;
  --visited-link: #ffffff;
  --highlight-color: #9DC9FF;
}

.dark-mode{
  --primary-color: #ffffff;
  --accent-color: #ebebeb;
  --grey-100: #181818;
  --grey-200: #383838;
  --grey-250: #535353;
  --grey-300: #686868;
  --grey-400: #9c9c9c;
  --grey-500: #8b8b8b;
  --grey-600: #b9b9b9;
  --border-color: #ebeef1;
  --visited-link: #ffffff;
  --highlight-color: #2185ff;
}

ion-icon {
  color: var(--grey-100);
  font-size: 1.5em;
}

.container-home h3,
h4,
p,
li,
blockquote {
  max-width: var(--max-length);
}

.container-title h3 {
  margin: 0;
}

.nav-bar p {
  font-size: 1em;
  padding: var(--padding-nav) 0 var(--padding-nav) 0;
  margin: 0;
  line-height: 150%;
  max-width: fit-content;
}

.nav:hover {
  text-decoration: underline;
}

.padding-blog {
  padding: var(--padding-blog-vertical) var(--padding-blog-horizontal);
  border-width: 0;
}

.padding-home {
  padding: var(--padding-home-vertical) var(--padding-home-horizontal);
}

.summary {
  font-size: 1.6em;
  font-family: "JetBrains Mono", sans-serif;
}

a {
  font-size: 1.25em;
  color: var(--grey-300);
  font-weight: 500;
}

a:link {
  color: var(--grey-100);
  text-decoration: underline;
}

a:hover {
  color: var(--grey-100);
  text-decoration: underline;
  text-decoration-style: dotted;
}

a:visited {
  color: var(--visited-link);
  text-decoration: underline;
}

h1 {
  color: var(--grey-100);
  font-size: 2.75em;
  margin: 0px;
  letter-spacing: -0.3px;
  line-height: 110%;
  font-weight: 500;
}

h2 {
  color: var(--grey-100);
  font-size: 2.2em;
  margin: 0px;
  font-weight: 500;
  margin-bottom: 1rem;
}

h3 {
  color: var(--grey-100);
  line-height: 125%;
  font-size: 1.75em;
  margin: .5em 0 1em 0;
  font-weight: 500;
}

.project h3 {
  font-size: 1.4em;
  font-weight: 400;
  max-width: 25ch;
  margin: 0 0 .25em 0;
}

.project-horizontal h3,
.card h3 {
  font-size: 1.5em;
  font-weight: 500;
  margin: 0;
}

.project p {
  font-size: 1.15em;
  color: var(--grey-300);
  max-width: 25ch;
}

.project.horizontal h3 {
  max-width: none;
}

h4 {
  color: var(--grey-100);
  line-height: 120%;
  font-size: 1.4em;
  font-weight: 500;

  margin: 2em 0 .5em 0;
  text-transform: uppercase;
  font-family: "JetBrains Mono", sans-serif;
  color: var(--highlight-color);
}

h5 {
  color: var(--grey-100);
  line-height: 150%;
  font-size: .95em;
  margin: 0px;
}

.p-tag {
 font-size: .92rem;
  font-family: "JetBrains Mono", sans-serif;
  color: var(--grey-400);
  margin: 0px;
  max-width: 60ch;
}

.tag-align {
  text-align: right;
  max-width: 20ch;
}

.p-tag.blog {
  font-size: 1.2em;
  margin-top: 1em;
  text-align: center;
  width: 35ch;
}

p {
  text-align: left;
  font-size: 1.4em;
  margin: 0px;
  color: var(--grey-200);
  line-height: 140%;
  margin-bottom: 4px;
  font-weight: 400;
}

span{
      font-size: 1.4rem;
      font-family: "JetBrains Mono", sans-serif;
      line-height: 125%;
      letter-spacing: -1.5px;
    }

ul,
ol {
  margin: 1em 0 0 1em;
  padding-left: 2em;
}

li {
  font-size: 1.4rem;
  text-align: left;
  line-height: 140%;
  color: var(--grey-200);
  font-weight: 400;
  padding-bottom: .6em;
}

li span {
  font-size: 1.4rem;
  font-family: 'DM Sans', Courier, monospace;
  font-weight: 500;
  letter-spacing: -0.2px;
}

blockquote {
  background-color: var(--accent-color);
  font-size: 1.6em;
  font-family: "JetBrains Mono", sans-serif;
  color: var(--grey-100);
  margin: 0 0 1.5em 0;
  padding: 1em;
  line-height: 150%;
  border-radius: 1.5em;
}

@media only screen and (max-width: 1200px) {
  :root {
    --padding-blog-horizontal: 3em;
    --padding-blog-vertical: 4em;

    --padding-home-vertical: 4em;
    --padding-home-horizontal: 3em;
    --padding-nav: 1em;
  }

  body {
    font-size: 16px;
  }
}

@media only screen and (max-width: 920px) {
  :root {
    --padding-blog-horizontal: 4em;
    --padding-blog-vertical: 2.5em;

    --padding-home-vertical: 2.5em;
    --padding-home-horizontal: 1.5em;
    --padding-nav: .5em;

    --max-length: 75%;
  }

  body {
    font-size: 14px;
  }
}

@media only screen and (max-width: 776px) {
  :root {
    --padding-blog-horizontal: 3em;
    --padding-blog-vertical: 2em;

    --padding-home-horizontal: 2.5em;
    --padding-home-vertical: 2em;
    --padding-nav: .5em;

    --max-length: 100%;
  }

  body {
    font-size: 12px;
  }

  ul {
    padding-left: 1em;
  }

  .tag-align {
    text-align: left;
  }
}

/* This will work for mobile */
@media only screen and (max-width: 478px) {
  :root {
    --padding-blog-horizontal: 2em;
    --padding-blog-vertical: 5em;

    --padding-home-vertical: 6em;
    --padding-home-horizontal: 2em;
    --padding-nav: .5em;

    --max-length: 100%;
    --icon-size: "small";
  }

  body {
    font-size: 12px;
  }

  ul {
    padding: 1em;
  }

  .tag-align {
    text-align: left;
    max-width:none;
  }
}
